snippet exe "Basic executable boilerplate"
#!/usr/bin/env python3

def main():
    pass

if __name__ == '__main__':
    main()
endsnippet

snippet bp "Breakpoint"
import pdb; pdb.set_trace()
endsnippet
