[submodule "colors/molokai"]
	path = colors/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "syntax/avr"]
	path = syntax/avr
	url = https://github.com/vim-scripts/avr.vim
